{% extends 'form.html' %}
{% load static %}
{% load widget_tweaks %}
{% block head_form %}
    <link rel="stylesheet" href="{% static 'lib/bootstrap-touchspin-4.2.5/css/jquery.bootstrap-touchspin.css' %}"/>
    <script src="{% static 'lib/bootstrap-touchspin-4.2.5/js/jquery.bootstrap-touchspin.js' %}"></script>
    <script src="{% static 'mainpage/js/form.js' %}"></script>
{% endblock %}

{% block content %}
    <form class="form" method="post" action="." enctype="multipart/form-data" id="frmForm"
          data-url="{% url 'dashboard' %}">
        <div class="card {{ dshboard.card }}">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-edit"></i>
                    {{ title }}
                </h3>
                <div class="card-tools">
                    <small>Su último acceso al sistema fue el {{ request.user.last_login }}</small>
                </div>
            </div>
            <div class="card-body" style="display: block;">
                <div class="container-fluid">
                    <input type="hidden" value="{{ action }}" name="action">
                    <div class="row">
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label>Nombre:</label>
                                {{ form.name }}
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label>Propietario:</label>
                                {{ form.proprietor }}
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label>Ruc:</label>
                                {{ form.ruc }}
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Teléfono Convencional:</label>
                                {{ form.phone }}
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Teléfono Celular:</label>
                                {{ form.mobile }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>¿Porque estar con nosotros?:</label>
                                {{ form.with_us }}
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Misión:</label>
                                {{ form.mission }}
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Visión:</label>
                                {{ form.vision }}
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Quienes Somos:</label>
                                {{ form.about_us }}
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Descripción</label>
                                {{ form.desc }}
                            </div>
                        </div>
                         <div class="col-lg-12">
                            <div class="form-group">
                                <label>Imagen:</label>
                                {{ form.icon_image }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Email:</label>
                                {{ form.email }}
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Dirección:</label>
                                {{ form.address }}
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Horario:</label>
                                {{ form.horary }}
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Coordenadas:</label>
                                {{ form.coordinates }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Video de Youtube:</label>
                                {{ form.about_youtube }}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>IVA%:</label>
                                {{ form.iva }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-flat">
                    <i class="fas fa-save" aria-hidden="true"></i> Guardar registro
                </button>
                <a href="{% url 'dashboard' %}" class="btn btn-danger btn-flat">
                    <i class="fas fa-times"></i> Cancelar
                </a>
            </div>
        </div>
    </form>
{% endblock %}