{% extends 'mainpage/index/index.html' %}
{% load static %}
{% load widget_tweaks %}
{% block javascript %}
    <script src="{% static 'mainpage/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'mainpage/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'mainpage/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lib/formvalidation-1.8.0/css/formValidation.min.css' %}">
    <script src="{% static 'lib/formvalidation-1.8.0/js/es6-shim.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-1.8.0/js/FormValidation.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-1.8.0/js/plugins/Bootstrap.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-1.8.0/js/locales/es_ES.min.js' %}"></script>
    <script src="{% static 'lib/jquery-confirm-3.3.4/jquery-confirm.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lib/jquery-confirm-3.3.4/jquery-confirm.min.css' %}"/>
    <script src="{% static 'lib/sweetalert2-11.0.16/sweetalert2.all.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lib/sweetalert2-11.0.16/sweetalert2.min.css' %}"/>
    <script src="{% static 'lib/select2-4.0.13/js/select2.min.js' %}"></script>
    <script src="{% static 'lib/select2-4.0.13/js/i18n/es.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lib/select2-4.0.13/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/select2-4.0.13/css/select2-bootstrap4.min.css' %}">
    
    <script src="{% static 'lib/bootstrap-daterangepicker-3.1/js/moment.js' %}"></script>
    <script src="{% static 'lib/bootstrap-daterangepicker-3.1/js/moment-with-locales.js' %}"></script>
    <script src="{% static 'lib/tempusdominus-bootstrap-4.5.37.0/js/tempusdominus-bootstrap.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lib/tempusdominus-bootstrap-4.5.37.0/css/tempusdominus-bootstrap.css' %}"/>
    <script src="{% static 'js/functions.js' %}"></script>
    <script src="{% static 'mainpage/js/sign_in.js' %}"></script>
{% endblock %}

{% block content %}
    <br>
    <div class="container">
        <section id="login">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <form method="post" id="frmLogin" data-url="{% url 'index' %}">
                        {% csrf_token %}
                        <div class="card">
                            <div class="card-header">
                                <h4>Registro de un Cuenta {{ mainpage.name }}</h4>
                            </div>
                            <div class="card-body">
                                <input type="hidden" name="next" value="{{ next }}">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label><b>Nombres:</b></label>
                                            {{ form.first_name }}
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label><b>Apellidos:</b></label>
                                            {{ form.last_name }}
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label><b>Número de cedula:</b></label>
                                            {{ form.dni }}
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label><b>Email:</b></label>
                                            {{ form.email }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label><b>Sexo:</b></label>
                                            {{ form.gender }}
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label><b>Teléfono celular:</b></label>
                                            {{ form.mobile }}
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label><b>Teléfono fijo:</b></label>
                                            {{ form.phone }}
                                        </div>
                                    </div>
                                    <div class="col-lg-5">
                                        <div class="form-group">
                                            <label><b>Imagen:</b></label>
                                            {{ form.image|add_class:'form-control' }}
                                        </div>
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="form-group">
                                            <label><b>Barrio:</b></label>
                                            {{ form.district }}
                                        </div>
                                    </div>
                                </div>
                             
                                <div class="row">
                                    <div class="col-lg-5">
                                        <div class="form-group">
                                            <label><b>Fecha de nacimiento:</b></label>  
                                                {{ form.birthdate }}
                                        </div>
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="form-group">
                                            <label><b>Dirección:</b></label>
                                            {{ form.address }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary btn-block btn-center">
                                    <i class="fas fa-sign-in-alt" aria-hidden="true"></i> Registrarse
                                </button>
                                <hr>
                                <p class="mt-3 text-center desc">
                                    Recibiras un correo con tus credenciales para activar tu nueva cuenta
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
    <br>
    {% block formulario  %}
   
    {% endblock %}

{% endblock %}