asgiref==3.2.3
cairocffi==1.2.0
CairoSVG==2.5.2
certifi==2021.5.30
cffi==1.14.5
charset-normalizer==2.0.3
cssselect2==0.4.1
defusedxml==0.7.1
Django==3.0.3
django-crum==0.7.5
django-widget-tweaks==1.4.5
html5lib==1.1
idna==3.2
Pillow==8.3.1
pycparser==2.20
Pyphen==0.10.0
pytz==2019.3
requests==2.26.0
six==1.16.0
sqlparse==0.3.1
tinycss2==1.1.0
urllib3==1.26.6
WeasyPrint==52.5
webencodings==0.5.1
