{% extends 'skin.html' %}
{% load static %}
{% block head %}
    <script src="{% static 'lib/highcharts-9.1.1/highcharts.js' %}"></script>
    <script src="{% static 'lib/highcharts-9.1.1/modules/exporting.js' %}"></script>
    <script src="{% static 'lib/highcharts-9.1.1/modules/export-data.js' %}"></script>
    <script src="{% static 'lib/highcharts-9.1.1/modules/accessibility.js' %}"></script>
{% endblock %}
{% block breadcrumb %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        {% if request.user.get_group_id_session != 2 %}
           
        {% else %}
            <div class="card card-widget widget-user">
                <div class="widget-user-header bg-dark">
                    <h3 class="widget-user-username">
                        <strong> BARRIO {{ barrio_actual.district.name }}</strong> 
                    </h3>
                    <h4 class="widget-user-desc">
                        PARROQUIA  <strong>{{ barrio_actual.district.parroquia.name }}</strong> 
                    </h4>
                    <h5 class="widget-user-desc">
                        Su último acceso fue {{ request.user.last_login }}
                    </h5>
                </div>
                <div class="card-footer" style="background-color: white;">
                    <div class="row">
                        <div class="col-lg-12">
                            <img src=" {{ barrio_actual.district.image.url }} " style="width: 50%;"
                            class="img-fluid d-block mx-auto mb-2">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 border-right">
                            <div class="description-block">
                                <i class="fas fa-phone-volume fa-2x"></i>
                                <h5 class="description-header">
                                    Comunicate con nosotros
                                </h5>
                                <span class="description-text">
                                {{ mainpage.phone }} / {{ mainpage.mobile }}
                            </span>
                            </div>
                        </div>
                        <div class="col-sm-3 border-right">
                            <div class="description-block">
                                <i class="fa fa-user fa-2x" aria-hidden="true"></i>
                                <h5 class="description-header">
                                    Código de Asistencia
                                </h5>
                                <span class="description-text">
                                {{ barrio_actual.code }}
                            </span>
                            </div>
                        </div>
                        <div class="col-sm-3 border-right">
                            <div class="description-block">
                                <i class="fas fa-street-view fa-2x"></i>
                                <h5 class="description-header">
                                    Presidente
                                </h5>
                                <span class="description-text">
                                    {% for a in presidente  %}
                                    {{ a.user.user.first_name }}  {{ a.user.user.last_name }}
                                    {% endfor %}
                            </span>
                            </div>
                        </div>
                        
                        {% if veamos == barrio_actual.id %}
                            <div class="col-sm-3">
                                <div class="description-block">
                                    <h5 class="description-header">
                                    </h5>
                                    <span class="description-text">
                                        <a
                                        type="button"
                                        title="Regresar"
                                        class="btn btn-dark btn-flat"
                                        href="{% url 'verBarrio' id_barrio %}"
                                        >
                                        <i class="fas fa-undo">REGRESAR</i>
                                        </a>
                                </span>
                                </div>
                            </div>
                            {% endif %}
                   
                    </div>
                </div>
            </div>
            <div class="card card-widget">
                <div class="card-header">
                    <div class="user-block">
                        <img class="img-circle" src="{% static 'img/default/noticias.png' %}" alt="User Image">
                        <span class="username"><a href="#">Zona de noticias</a></span>
                        <span class="description">{{ date_joined }}</span>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            {% for n in news %}
                                <div class="col-lg-3 col-md-6">
                                    <div class="card">
                                        <img class="card-img-top" src="{{ n.get_image }}" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title title-notice">{{ n.title }}</h5>
                                            <p class="card-text">
                                                {{ n.trim_desc }}...
                                            </p>
                                        </div>
                                        <div class="card-footer">
                                            <a href="{{ n.url }}" target="_blank" class="btn btn-primary btn-block">
                                                <i class="fas fa-rss-square"></i> Leer más
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-widget">
                <div class="card-header">
                    <div class="user-block">
                        <img class="img-circle" src="{% static 'img/default/videos.png' %}" alt="User Image">
                        <span class="username"><a href="#">Zona de videos</a></span>
                        <span class="description">{{ date_joined }}</span>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            {% for v in videos %}
                                <div class="col-lg-3 col-md-6">
                                    <iframe width="100%" height="302" src="{{ v.url }}" frameborder="0"
                                            allow="autoplay; encrypted-media" allowfullscreen
                                            style="margin-top:15px;">
                                    </iframe>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}