{% extends 'list.html' %}

{% block columns %}
    <th class="text-center">Nro</th>
    <th>Nombre</th>
    <th>Icono</th>
    <th>Enlace</th>
    <th>Estado</th>
    <th class="text-center"><i class="fa fa-wrench"></i></th>
{% endblock %}

{% block rows %}
    {% for i in object_list %}
        <tr>
            <td>{{ i.id }}</td>
            <td>{{ i.css }}</td>
            <td class="text-center"><i class="{{ i.get_icon }}"></i></td>
            <td>{{ i.url }}</td>
            <td class="text-center">
                {% if i.state %}
                    <span class="badge badge-success">Activo</span>
                {% else %}
                    <span class="badge badge-danger">Inactivo</span>
                {% endif %}
            </td>
            <td class="text-center">
                <a href="{% url 'socialnetworks_update' i.id %}" data-toggle="tooltip" title="Editar registro"
                   class="btn btn-warning btn-xs btn-flat">
                    <i class="fas fa-edit"></i>
                </a>
                <a href="{% url 'socialnetworks_delete' i.id %}" rel="delete" data-toggle="tooltip" title="Eliminar registro"
                   class="btn btn-danger btn-xs btn-flat">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}
