{% extends 'list.html' %}

{% block columns %}
    <th class="text-center">Nro</th>
    <th>Nombres</th>
    <th>Apellidos</th>
    <th>Cédula</th>
    <th>Celular</th>
    <th class="text-center">Opciones</th>
{% endblock %}

{% block rows %}
    {% for i in s %}
    <tr>
        <td>{{ i.id }}</td>
        <td>{{ i.name }}</td>
        <td>{{ i.last_name }}</td>
        <td>{{ i.name }}</td>
        <td> {{ i.mobile }} </td>
        <td class="text-center">
            <a href="{% url 'familyResponsibilities_update' i.id %}" data-toggle="tooltip" title="Editar registro"
            class="btn btn-warning btn-xs btn-flat">
                <i class="fas fa-edit" aria-hidden="true"></i>
            </a>
            <a href="{% url 'familyResponsibilities_delete' i.id %}" rel="delete" data-toggle="tooltip" title="Eliminar registro"
            class="btn btn-danger btn-xs btn-flat">
                <i class="fas fa-trash" aria-hidden="true"></i>
            </a>
        </td>
    </tr>
    {% endfor %}
{% endblock %}
